# click==8.0.1
# colorama==0.4.4
# Flask==2.0.1
# itsdangerous==2.0.1
# Jinja2==3.0.1
# MarkupSafe==2.0.1
# Werkzeug==2.0.1
# msal==1.17.0
# requests==2.27.1
# flask_session
# azure-servicebus
# flask-session~=0.3.2