{% extends 'base.html' %}
{% block main %}

<h2>Welkom {{ user.get("name") }}!</h2>

{% if config.get("CENDPOINT") %}
<li><a href='/graphcall'>Call Microsoft Graph Calendar API</a></li>
{% endif %}

{% if config.get("EENDPOINT") %}
<li><a href='/egraphcall'>Call Microsoft Graph Email API</a></li>
{% endif %}

{% if config.get("B2C_PROFILE_AUTHORITY") %}
<li><a href='{{_build_auth_code_flow(authority=config["B2C_PROFILE_AUTHORITY"])["auth_uri"]}}'>Edit Profile</a></li>
{% endif %}
<h1>WESSEL</h1>

<li><a href="/logout">Logout</a></li>
{% endblock %}